@charset "UTF-8";

.container {
    xborder: 1px solid red;
    width: 640px;
}

header {
	border: 1px solid red;
}

footer {
	border: 1px solid blue;
	clear: left;
}

aside {
	border: 1px solid green;
	float: left;
	width: 120px;
	min-height: 300px;
}

#content {
	border: 1px dashed yellow;
	margin-left: 130px;
}
